[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
meta_lend = "AYye92emHVPgnxDHnTEkuuWVLUKF7JHKgWsXysZBZ3qe"

[[test.genesis]]
address = "AYye92emHVPgnxDHnTEkuuWVLUKF7JHKgWsXysZBZ3qe"
program = "target/deploy/meta_lend.so"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"